<h4>Dear, <%= @user.email %></h4>

<p> Thank you for sign-up.
    You are just one step more from activating your account.
    Please confirm your registration through the following link: 
    <%= link_to "Click here to confirm registration", 
    			confirmation_user_url(@user, code: @user.confirmation_code), only_path: false %> 
</p>