<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
    	<li><%= link_to(t(".useres"), admin_users_path) %></li>

    	<li><%= link_to(t(".coupones"), admin_coupones_path) %></li>
    	<li><%= link_to(t(".restaurantes"), admin_restaurants_path) %></li>
    	
    </ul>
</div>