<head>
   <title>Superadmin Dashboard</title>
</head>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <div id="myfirstchart" style="height: 250px;">
                <h4>Chart example 1</h4>
              </div>   
            </div>
            
          </div>

          <br><br>

          <h2 class="sub-header">All Registered Users</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= current_user.email %></td>
                  <td><%= current_user.email %></td>
                </tr>
              </tbody>
            </table>
          </div>
</div>