<%= render "navbar" %>

<div class="container-fluid">
  <div class="row">
    <%= render "sidebar" %>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
        <div id="graph">
            
        </div>   
        <div  id="graph2">
        </div>
<style type="text/css">
#graph {
  display: inline-block;
  width: 70%;
}
#graph2 {
  display: inline-block;
  width: 27%;
}
</style>
<script type="text/javascript">
$( document ).ready(function() {


});
var kuponi;
var podaci=[];
var rezultati=[];
var NumberOfAllCoupones=0;
 $.ajax({
    type: "GET",
    url: "/api/coupones",
    data: {
        
    },
    success: function(data) {
        //alert(data.coupones[0].id);
        kuponi =data;
        kuponi.coupones.forEach(function(entry) {
        NumberOfAllCoupones+=entry.number_of_available;
      }); 
        kuponi.coupones.forEach(function(entry) {
        podaci.push({value: ((entry.number_of_available/NumberOfAllCoupones)*100).toFixed(2),label:entry.restaurant.name});
        
        rezultati.push({x: entry.restaurant.name,y: entry.number_of_available})

        
      }); 
      Morris.Bar({
        element: 'graph',
        data: rezultati,
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Cupones'],
        barColors: function (row, series, type) {
    if (type === 'bar') {
      var blue = Math.ceil(130 * row.y / this.ymax);
      return 'rgb(' + blue + ',50,50)';
    }
    else {
      return '#000';
    }
  }
});  
      Morris.Donut({
          element: 'graph2',
          data: podaci,
          formatter: function (value) { return value + "%"}
        });
    },
    error: function(jqXHR, textStatus, errorThrown) {
    }
});
 
 


</script>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
        
        </div>
      </div><br>
    </div>
  </div>
</div>