.navbar-inverse {
	border-radius: 0;
	margin-bottom: 0;
}

#myCarousel .nav a small { display: block; }
#myCarousel .nav { background: #eee; }
.nav-justified > li > a { border-radius: 0px; }

.nav-pills>li[data-slide-to="0"].active a { background-color: #024959; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #ab1a25; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #037e8c; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #ff8a00; }

.registration-msg {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
.registration-description {
    text-align: center;
}
.registration-form-holder {
	.control-label {
		font-weight: normal;
	}
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

#map_canvas {
    width: 1024px;
    height: 768px;
}

.login-header {
  margin-top: 10px;
  text-align: center;
}
.login-form-holder {
  border-bottom: 1px solid #e0e0e0;

  .login-errors {
    border-bottom: 2px solid #C00000;
    margin-bottom: 10px;
    color: #700000;
    font-weight: bold;
  }
}
.login-footer {
  text-align: center;
}
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}