body { 
}

.navbar-inverse {
	border-radius: 0;
}

#myCarousel .nav a small { display: block; }
#myCarousel .nav { background: #eee; }
.nav-justified > li > a { border-radius: 0px; }

.nav-pills>li[data-slide-to="0"].active a { background-color: #024959; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #ab1a25; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #037e8c; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #ff8a00; }

.registration-msg {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
.registration-description {
    text-align: center;
}
.registration-form-holder {
	.control-label {
		font-weight: normal;
	}
}
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}