<div class="container">
	<h1> Ember work <span class="glyphicon glyphicon-paperclip"></span></h1>
	{{view Ember.TextField valueBinding="newEntryName" placeholder="Type something..."}}
	{{newEntryName}}
</div>