 <div class="form-group">
          <input {{action 'AllCoupones'}} type="btn" class="btn btn-primary" value="Daj kupone">
 </div>

<h1>Playlist</h1>

 <ul>
    {{#each }}
        
       {{coupones.description}}
        
    {{/each}}
</ul>