<div class="container">

    <div class="row">
		
        <h1 class="text-center">Coupones</h1>

		{{#each item in controller}}
			<div class="col-xs-18 col-sm-6 col-md-3">
	          <div class="thumbnail">
	            <img src="http://placehold.it/500x300" alt="">
	              <div class="caption">
	                
	                <p>Description: {{ item.description }}</p>
	                <p>Number of available coupones: {{ item.number_of_available}}</p>
	                <p> Restaurant : {{ item.restaurant.name}}
	            </div>
	          </div>
	        </div>
	        <p>

	        </p>
        	
		{{/each}}
		
	</div>
</div>
