<div class="container">
    <div class="col-md-6">
        <h1 class="text-center"> Restaurants Location </h1> 
       <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC5lp2B_bUPJPLCzOOYwi3-vM442m1PKsA
            &q=Metropolis,Maršala Tita 21, Sarajevo 71000">
       </iframe>
    </div>
</div>