<div class="container">

    <div class="row">
		<div class="well">
        <h1 class="text-center">Restaurants</h1>
        <div class="list-group">
        	{{#each }}
          <a href="" class="list-group-item ">
                <div class="media col-md-3">
                    <figure class="pull-left">
                         <img class="media-object img-rounded img-responsive"  src="http://www.anguilla-beaches.com/image-files/luxury-anguilla-restaurants-2.jpg" alt="placehold.it/450x350" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> {{this.name}}</h4>
                    <p class="list-group-item-text"> {{this.description}}
                    	<br>

                    </p>
                    
                </div>
                <div class="col-md-3 text-center">
                    <h2> 1 <small> votes </small></h2>
                    <button type="button" class="btn btn-success btn-lg btn-block"> Vote Now! </button>
                    <br>
                    <p> <small> Telephone: {{this.telephone}} </small> </p>
                </div>
          </a>
           {{/each}}
                  </div>
        </div>
	</div>

	{{outlet}}   
</div>