<!DOCTYPE html>
<html>
<head>
  <title>Restaurants.ba</title>
  <%= stylesheet_link_tag    "ember/application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 </head>

<body>

	<%= yield %>

</body>
</html>
